.admin {
  display: flex;
  flex-direction: row;
  aside {
    color: var(--subColor);
    background: var(--mainColor);
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    margin-top: 45px;
    position: fixed;
    top: 0;
    left: 0;
    .admin-profile {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 25px 0;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 15px 0 9px;
      }
      .detail {
        display: flex;
        flex-direction: column;
        font-size: 13px;
      }
    }
    .options {
      width: 100%;
      label {
        color:#8391a2;
        // width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 15px;
        margin: 10px 0;
        transition: 100ms;
        &:hover {
          color: var(--cubColor);
          cursor: pointer;
        }
        p { margin-left: 30px; }
      }
    }
  }
  main {
    background: var(--subColor);
    width: calc(100% - 220px);
    height: auto;
    padding: 20px;
    margin-top: 45px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 150ms;
  }
}
