.court-form {
  width: 100%;
  form {
    color:  #333;
    background: #fff;
    width: 50%;
    margin: 20px auto 120px;
    padding: 20px;
    .overwrap-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .upper-side {
        width: 50%;
        margin: 0 auto;
        .input-place { margin: 0 5px 20px; }
        .radio-label { margin-top: 20px; }
        .radio-place {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
      .lower-side {
        width: 50%;
        margin: 0 auto;
        .input-place { margin: 0 5px 20px; }
        .imgupload-place {
          border: 2px dashed #555;
          border-radius: 5px;
          label {
            img {
              width: 100%;
              height: 100%;
            }
            .no-uploaded {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 30px;
              transition: 200ms;
              &:hover {
                cursor: pointer;
                background: rgba(#000, 0.1)
              }
              input { display: none; }
            }
          }
          .sentence {
            font-size: 14px;
            margin-top: 10px;
          }
        }
      }
    }
    .btn-place {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}