main {
  width: 100%;
  height: calc(100vh - 85px);
  background-position: center;
  background-color:rgba(#000, 0.1);
  background-blend-mode: darken;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .box {
    margin-top: 160px;
    width: 80%;
    max-width: 460px;
    .theme {
      color: #fff;
      .geohoop {
        margin-bottom: 5px;
      }
      .discription {
        font-size: 0.8rem;
      }
    }
  }
  .read-more {
    color: #ddd;
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    span {
      transition: 200ms;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
  .search-box {
    color: var(--subColor);
    background: #fff;
    width: 100%;
    max-width: 460px;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    .search-form {
      color: var(--subColor);
      background: #fff;
      width: calc(100% - 26px);
      border: none;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 13px;
      input {
        color: #262626;
        width: 100%;
        height: 30px;
        background: transparent;
        border: none;
        font-size: 16px;
        padding-left: 10px;
        &:focus { outline: none; }
      }
    }
    .search-suggest {
      color: grey;
      background: rgba(#000, 0.85);
      width: calc(100% + 26px);
      height: 50px;
      border: none;
      border-top: 1px solid #fff;
      .region-box {
        background: rgba(#000, 0.85);
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid grey;
        transition: 200ms;
        &:hover {
          cursor: pointer;
          color: #f7f7f7;
          background: rgba(grey, 0.8);
        }
        li { padding-left: 10px; }
      }
    }
  }
  .login-form {
    color: var(--subColor);
    background: rgba(#000, 0.85);
    width: 80%;
    max-width: 460px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .login-title { margin: 20px 0; }
    .box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      .input-place {
        margin: 8px 0;
        width: 70%;
        input {
          color: #f7f7f7;
          background: rgba(grey, 0.8);
          width: calc(100% - 20px);
          height: 20px;
          border: none;
          border-radius: 3px;
          padding: 5px 10px;
          &:focus { outline: none; }
          &::-webkit-input-placeholder {
            color: var(--subColor);
            opacity: 0.5;
          }
          &::-moz-placeholder {
            color: var(--subColor);
            opacity: 0.5;
          }
        }
      }
    }
    button {
      background: #f7f7f7;
      border: none;
      border-radius: 3px;
      padding: 8px 16px;
      margin: 25px 0 15px;
      transition: 200ms;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      &:focus { outline: none; }
    }
    .google-login {
      &:hover { cursor: pointer; }
    }
    .switch-method {
      font-size: 14px;
      padding: 0;
      margin: 0 0 2px;
      span {
        &:hover {
          cursor: pointer;
          border-bottom: 1px solid #f7f7f7;
        }
      }
    }
  }
}
.recommend {
  background: orange;
  width: 100%;
  height: 50px;
}