.index {
  background: var(--subColor);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      margin: 40px 0 20px;
    }
    .geo-hoop {
      color: var(--mainColor);
      font-size: 20px;
    }
  }
  form {
    background: #f7f7f7;
    width: 90%;
    max-width: 500px;
    padding: 20px 0;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .admin {
      text-align: center;
      margin: 10px 0;
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 20px 0;
      .input-place {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        .nomal-sentence {
          color: var(--mainColor);
          &:hover { cursor: pointer; }
        }
        .err-sentence {
          color: red;
        }
        input {
          background: var(--subColor);
          width: calc(100% - 30px);
          padding: 8px;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          &:focus { outline: none; }
        }
      }
    }
    button {
      color: var(--subColor);
      background: var(--mainColor);
      border: none;
      border-radius: 8px;
      padding: 8px 20px;
      &:hover { cursor: pointer; }
      &:focus { outline: none; }
    }
  }
}