.all-users {
  width: 100%;
  height: 100%;
  header {
    margin-bottom: 15px;
    .page-title {
      color: #6c757d;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .box {
    background: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding: 20px;
    overflow: auto;
    white-space: nowrap;
    .controller {
      width: 100%;
      padding: 10px;
    }
    table {
      color: #6c757d;
      width: 100%;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      border-collapse: collapse;
      .column-name {
        height: 50px;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        td {
          label { margin: 0 10px; }
        }
        @mixin traiangle($top) {
          content: '';
          width: 7px;
          height: 7px;
          position: absolute;
          top: $top;
          right: -1px;
          margin: auto;
          box-sizing: border-box;
          border: 4px solid transparent;
        }
        .add-triangle {
          position: relative;
          &:hover { cursor: pointer; }
          &:before {
            @include traiangle(30%);
            border-bottom: 4px solid #bdc3c7;
          }
          &:after {
            @include traiangle(54%);
            border-top: 4px solid #bdc3c7;
          }
        }
        .triangle-asc {
          &:before {
            @include traiangle(30%);
            border-bottom: 4px solid #666;
          }
        }
        .triangle-desc {
          &:after {
            @include traiangle(54%);
            border-top: 4px solid #666;
          }
        }
      }
      .user-data {
        height: 30px;
        td {
          label { margin: 0 8px; }
          .admin-badge {
            color: #eee;
            background: #f03434;
            font-size: 14px;
            padding: 3px 8px;
            border-radius: 20px;
          }
          .user-badge {
            color: #eee;
            background: #2574a9;
            font-size: 14px;
            padding: 3px 8px;
            border-radius: 20px;
          }
          .court-id {
            transition: 100ms;
            &:hover {
              color: #1e8bc3;
              cursor: pointer;
            }
          }
        }
      }
      .odd { background: #e8ecf1; }
      .checkbox-place {
        width: 100px;
        @mixin checkmark {
          background: #6c7a89;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: 3px;
            width: 6px;
            height: 11px;
            transform: rotate(40deg);
            border-bottom: 2px solid #eee;
            border-right: 2px solid #eee;
          }
        }
        .all-checkbox {
          margin: 0 20px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover { cursor: pointer; }
          span {
            width: 14px;
            height: 14px;
            display: block;
            border: 2px solid #6c7a89;
            border-radius: 4px;
            position: relative;
          }
          .all-select { @include checkmark; }
          .indeterminate {
            background: #6c7a89;
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 11px;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              border-bottom: 2px solid #eee;
            }
          }
        }
        .individual-checkbox {
          margin: 0 0 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover { cursor: pointer; }
          span {
            width: 14px;
            height: 14px;
            display: block;
            border: 2px solid #6c7a89;
            border-radius: 4px;
            position: relative;
          }
          .checked { @include checkmark; }
        }
      }
    }
    .table-footer {
      color: #6c757d;
      width: 100%;
      padding: 10px 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .pagenation {
        display: flex;
        flex-direction: row;
        label {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 200ms;
          &:hover {
            background: #e8ecf1;
            cursor: pointer;
          }
        }
      }
    }
  }
}